<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>indexTitle</key>
		<string>A</string>
		<key>country</key>
		<array>
			<dict>
				<key>country-en</key>
				<string>Angola</string>
				<key>country-cn</key>
				<string>安哥拉</string>
				<key>code</key>
				<string>+244</string>
				<key>abbreviations</key>
				<string>AO</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Afghanistan</string>
				<key>country-cn</key>
				<string>阿富汗</string>
				<key>code</key>
				<string>+93</string>
				<key>abbreviations</key>
				<string>AF</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Albania</string>
				<key>country-cn</key>
				<string>阿尔巴尼亚</string>
				<key>code</key>
				<string>+355</string>
				<key>abbreviations</key>
				<string>AL</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Algeria</string>
				<key>country-cn</key>
				<string>阿尔及利亚</string>
				<key>code</key>
				<string>+213</string>
				<key>abbreviations</key>
				<string>DZ</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Andorra</string>
				<key>country-cn</key>
				<string>安道尔共和国</string>
				<key>code</key>
				<string>+376</string>
				<key>abbreviations</key>
				<string>AD</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Anguilla</string>
				<key>country-cn</key>
				<string>安圭拉岛</string>
				<key>code</key>
				<string>+1264</string>
				<key>abbreviations</key>
				<string>AI</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Antigua and Barbuda    </string>
				<key>country-cn</key>
				<string>安提瓜和巴布达</string>
				<key>code</key>
				<string>+1268</string>
				<key>abbreviations</key>
				<string>AG</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Argentina</string>
				<key>country-cn</key>
				<string>阿根廷</string>
				<key>code</key>
				<string>+54</string>
				<key>abbreviations</key>
				<string>AR</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Armenia</string>
				<key>country-cn</key>
				<string>亚美尼亚</string>
				<key>code</key>
				<string>+374</string>
				<key>abbreviations</key>
				<string>AM</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Ascension</string>
				<key>country-cn</key>
				<string>阿森松</string>
				<key>code</key>
				<string>+247</string>
				<key>abbreviations</key>
				<string></string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Australia</string>
				<key>country-cn</key>
				<string>澳大利亚</string>
				<key>code</key>
				<string>+61</string>
				<key>abbreviations</key>
				<string>AU</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Austria</string>
				<key>country-cn</key>
				<string>奥地利</string>
				<key>code</key>
				<string>+43</string>
				<key>abbreviations</key>
				<string>AT</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Azerbaijan</string>
				<key>country-cn</key>
				<string>阿塞拜疆</string>
				<key>code</key>
				<string>+994</string>
				<key>abbreviations</key>
				<string>AZ</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>indexTitle</key>
		<string>B</string>
		<key>country</key>
		<array>
			<dict>
				<key>country-en</key>
				<string>Bahamas</string>
				<key>country-cn</key>
				<string>巴哈马</string>
				<key>code</key>
				<string>+1242</string>
				<key>abbreviations</key>
				<string>BS</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Bahrain</string>
				<key>country-cn</key>
				<string>巴林</string>
				<key>code</key>
				<string>+973</string>
				<key>abbreviations</key>
				<string>BH</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Bangladesh</string>
				<key>country-cn</key>
				<string>孟加拉国</string>
				<key>code</key>
				<string>+880</string>
				<key>abbreviations</key>
				<string>BD</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Barbados</string>
				<key>country-cn</key>
				<string>巴巴多斯</string>
				<key>code</key>
				<string>+1246</string>
				<key>abbreviations</key>
				<string>BB</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Belarus</string>
				<key>country-cn</key>
				<string>白俄罗斯</string>
				<key>code</key>
				<string>+375</string>
				<key>abbreviations</key>
				<string>BY</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Belgium</string>
				<key>country-cn</key>
				<string>比利时</string>
				<key>code</key>
				<string>+32</string>
				<key>abbreviations</key>
				<string>BE</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Belize</string>
				<key>country-cn</key>
				<string>伯利兹</string>
				<key>code</key>
				<string>+501</string>
				<key>abbreviations</key>
				<string>BZ</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Benin</string>
				<key>country-cn</key>
				<string>贝宁</string>
				<key>code</key>
				<string>+229</string>
				<key>abbreviations</key>
				<string>BJ</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Bermuda Is.</string>
				<key>country-cn</key>
				<string>百慕大群岛</string>
				<key>code</key>
				<string>+1441</string>
				<key>abbreviations</key>
				<string>BM</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Bolivia</string>
				<key>country-cn</key>
				<string>玻利维亚</string>
				<key>code</key>
				<string>+591</string>
				<key>abbreviations</key>
				<string>BO</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Botswana</string>
				<key>country-cn</key>
				<string>博茨瓦纳</string>
				<key>code</key>
				<string>+267</string>
				<key>abbreviations</key>
				<string>BW</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Brazil</string>
				<key>country-cn</key>
				<string>巴西</string>
				<key>code</key>
				<string>+55</string>
				<key>abbreviations</key>
				<string>BR</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Brunei</string>
				<key>country-cn</key>
				<string>文莱</string>
				<key>code</key>
				<string>+673</string>
				<key>abbreviations</key>
				<string>BN</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Bulgaria</string>
				<key>country-cn</key>
				<string>保加利亚</string>
				<key>code</key>
				<string>+359</string>
				<key>abbreviations</key>
				<string>BG</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Burkina-faso</string>
				<key>country-cn</key>
				<string>布基纳法索</string>
				<key>code</key>
				<string>+226</string>
				<key>abbreviations</key>
				<string>BF</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Burma</string>
				<key>country-cn</key>
				<string>缅甸</string>
				<key>code</key>
				<string>+95</string>
				<key>abbreviations</key>
				<string>MM</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Burundi</string>
				<key>country-cn</key>
				<string>布隆迪</string>
				<key>code</key>
				<string>+257</string>
				<key>abbreviations</key>
				<string>BI</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>indexTitle</key>
		<string>C</string>
		<key>country</key>
		<array>
			<dict>
				<key>country-en</key>
				<string>Cameroon</string>
				<key>country-cn</key>
				<string>喀麦隆</string>
				<key>code</key>
				<string>+237</string>
				<key>abbreviations</key>
				<string>CM</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Canada</string>
				<key>country-cn</key>
				<string>加拿大</string>
				<key>code</key>
				<string>+1</string>
				<key>abbreviations</key>
				<string>CA</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Cayman Is.</string>
				<key>country-cn</key>
				<string>开曼群岛</string>
				<key>code</key>
				<string>+1345</string>
				<key>abbreviations</key>
				<string></string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Central African Republic</string>
				<key>country-cn</key>
				<string>中非共和国</string>
				<key>code</key>
				<string>+236</string>
				<key>abbreviations</key>
				<string>CF</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Chad</string>
				<key>country-cn</key>
				<string>乍得</string>
				<key>code</key>
				<string>+235</string>
				<key>abbreviations</key>
				<string>TD</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Chile</string>
				<key>country-cn</key>
				<string>智利</string>
				<key>code</key>
				<string>+56</string>
				<key>abbreviations</key>
				<string>CL</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>China</string>
				<key>country-cn</key>
				<string>中国</string>
				<key>code</key>
				<string>+86</string>
				<key>abbreviations</key>
				<string>CN</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Colombia</string>
				<key>country-cn</key>
				<string>哥伦比亚</string>
				<key>code</key>
				<string>+57</string>
				<key>abbreviations</key>
				<string>CO</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Congo</string>
				<key>country-cn</key>
				<string>刚果</string>
				<key>code</key>
				<string>+242</string>
				<key>abbreviations</key>
				<string>CG</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Cook Is.</string>
				<key>country-cn</key>
				<string>库克群岛</string>
				<key>code</key>
				<string>+682</string>
				<key>abbreviations</key>
				<string>CK</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Costa Rica</string>
				<key>country-cn</key>
				<string>哥斯达黎加</string>
				<key>code</key>
				<string>+506</string>
				<key>abbreviations</key>
				<string>CR</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Cuba</string>
				<key>country-cn</key>
				<string>古巴</string>
				<key>code</key>
				<string>+53</string>
				<key>abbreviations</key>
				<string>CU</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Cyprus</string>
				<key>country-cn</key>
				<string>塞浦路斯</string>
				<key>code</key>
				<string>+357</string>
				<key>abbreviations</key>
				<string>CY</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Czech Republic    </string>
				<key>country-cn</key>
				<string>捷克</string>
				<key>code</key>
				<string>+420</string>
				<key>abbreviations</key>
				<string>CZ</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>indexTitle</key>
		<string>D</string>
		<key>country</key>
		<array>
			<dict>
				<key>country-en</key>
				<string>Denmark</string>
				<key>country-cn</key>
				<string>丹麦</string>
				<key>code</key>
				<string>+45</string>
				<key>abbreviations</key>
				<string>DK</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Djibouti</string>
				<key>country-cn</key>
				<string>吉布提</string>
				<key>code</key>
				<string>+253</string>
				<key>abbreviations</key>
				<string>DJ</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Dominica Rep.</string>
				<key>country-cn</key>
				<string>多米尼加共和国</string>
				<key>code</key>
				<string>+1890</string>
				<key>abbreviations</key>
				<string>DO</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>indexTitle</key>
		<string>E</string>
		<key>country</key>
		<array>
			<dict>
				<key>country-en</key>
				<string>Ecuador</string>
				<key>country-cn</key>
				<string>厄瓜多尔</string>
				<key>code</key>
				<string>+593</string>
				<key>abbreviations</key>
				<string>EC</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Egypt</string>
				<key>country-cn</key>
				<string>埃及</string>
				<key>code</key>
				<string>+20</string>
				<key>abbreviations</key>
				<string>EG</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>EI Salvador</string>
				<key>country-cn</key>
				<string>萨尔瓦多</string>
				<key>code</key>
				<string>+503</string>
				<key>abbreviations</key>
				<string>SV</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Estonia</string>
				<key>country-cn</key>
				<string>爱沙尼亚</string>
				<key>code</key>
				<string>+372</string>
				<key>abbreviations</key>
				<string>EE</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Ethiopia</string>
				<key>country-cn</key>
				<string>埃塞俄比亚</string>
				<key>code</key>
				<string>+251</string>
				<key>abbreviations</key>
				<string>ET</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>indexTitle</key>
		<string>F</string>
		<key>country</key>
		<array>
			<dict>
				<key>country-en</key>
				<string>Fiji</string>
				<key>country-cn</key>
				<string>斐济</string>
				<key>code</key>
				<string>+679</string>
				<key>abbreviations</key>
				<string>FJ</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Finland</string>
				<key>country-cn</key>
				<string>芬兰</string>
				<key>code</key>
				<string>+358</string>
				<key>abbreviations</key>
				<string>FI</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>France</string>
				<key>country-cn</key>
				<string>法国</string>
				<key>code</key>
				<string>+33</string>
				<key>abbreviations</key>
				<string>FR</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>French Guiana</string>
				<key>country-cn</key>
				<string>法属圭亚那</string>
				<key>code</key>
				<string>+594</string>
				<key>abbreviations</key>
				<string>GF</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>indexTitle</key>
		<string>G</string>
		<key>country</key>
		<array>
			<dict>
				<key>country-en</key>
				<string>Gabon</string>
				<key>country-cn</key>
				<string>加蓬</string>
				<key>code</key>
				<string>+241</string>
				<key>abbreviations</key>
				<string>GA</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Gambia</string>
				<key>country-cn</key>
				<string>冈比亚</string>
				<key>code</key>
				<string>+220</string>
				<key>abbreviations</key>
				<string>GM</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Georgia</string>
				<key>country-cn</key>
				<string>格鲁吉亚</string>
				<key>code</key>
				<string>+995</string>
				<key>abbreviations</key>
				<string>GE</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Germany</string>
				<key>country-cn</key>
				<string>德国</string>
				<key>code</key>
				<string>+49</string>
				<key>abbreviations</key>
				<string>DE</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Ghana</string>
				<key>country-cn</key>
				<string>加纳</string>
				<key>code</key>
				<string>+233</string>
				<key>abbreviations</key>
				<string>GH</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Gibraltar</string>
				<key>country-cn</key>
				<string>直布罗陀</string>
				<key>code</key>
				<string>+350</string>
				<key>abbreviations</key>
				<string>GI</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Greece</string>
				<key>country-cn</key>
				<string>希腊</string>
				<key>code</key>
				<string>+30</string>
				<key>abbreviations</key>
				<string>GR</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Grenada</string>
				<key>country-cn</key>
				<string>格林纳达</string>
				<key>code</key>
				<string>+1809</string>
				<key>abbreviations</key>
				<string>GD</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Guam</string>
				<key>country-cn</key>
				<string>关岛</string>
				<key>code</key>
				<string>+1671</string>
				<key>abbreviations</key>
				<string>GU</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Guatemala</string>
				<key>country-cn</key>
				<string>危地马拉</string>
				<key>code</key>
				<string>+502</string>
				<key>abbreviations</key>
				<string>GT</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Guinea</string>
				<key>country-cn</key>
				<string>几内亚</string>
				<key>code</key>
				<string>+224</string>
				<key>abbreviations</key>
				<string>GN</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Guyana</string>
				<key>country-cn</key>
				<string>圭亚那</string>
				<key>code</key>
				<string>+592</string>
				<key>abbreviations</key>
				<string>GY</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>indexTitle</key>
		<string>H</string>
		<key>country</key>
		<array>
			<dict>
				<key>country-en</key>
				<string>Haiti</string>
				<key>country-cn</key>
				<string>海地</string>
				<key>code</key>
				<string>+509</string>
				<key>abbreviations</key>
				<string>HT</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Honduras</string>
				<key>country-cn</key>
				<string>洪都拉斯</string>
				<key>code</key>
				<string>+504</string>
				<key>abbreviations</key>
				<string>HN</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Hongkong</string>
				<key>country-cn</key>
				<string>香港</string>
				<key>code</key>
				<string>+852</string>
				<key>abbreviations</key>
				<string>HK</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Hungary</string>
				<key>country-cn</key>
				<string>匈牙利</string>
				<key>code</key>
				<string>+36</string>
				<key>abbreviations</key>
				<string>HU</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>indexTitle</key>
		<string>I</string>
		<key>country</key>
		<array>
			<dict>
				<key>country-en</key>
				<string>Iceland</string>
				<key>country-cn</key>
				<string>冰岛</string>
				<key>code</key>
				<string>+354</string>
				<key>abbreviations</key>
				<string>IS</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>India</string>
				<key>country-cn</key>
				<string>印度</string>
				<key>code</key>
				<string>+91</string>
				<key>abbreviations</key>
				<string>IN</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Indonesia</string>
				<key>country-cn</key>
				<string>印度尼西亚</string>
				<key>code</key>
				<string>+62</string>
				<key>abbreviations</key>
				<string>ID</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Iran</string>
				<key>country-cn</key>
				<string>伊朗</string>
				<key>code</key>
				<string>+98</string>
				<key>abbreviations</key>
				<string>IR</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Iraq</string>
				<key>country-cn</key>
				<string>伊拉克</string>
				<key>code</key>
				<string>+964</string>
				<key>abbreviations</key>
				<string>IQ</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Ireland</string>
				<key>country-cn</key>
				<string>爱尔兰</string>
				<key>code</key>
				<string>+353</string>
				<key>abbreviations</key>
				<string>IE</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Israel</string>
				<key>country-cn</key>
				<string>以色列</string>
				<key>code</key>
				<string>+972</string>
				<key>abbreviations</key>
				<string>IL</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Italy</string>
				<key>country-cn</key>
				<string>意大利</string>
				<key>code</key>
				<string>+39</string>
				<key>abbreviations</key>
				<string>IT</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Ivory Coast</string>
				<key>country-cn</key>
				<string>科特迪瓦</string>
				<key>code</key>
				<string>+225</string>
				<key>abbreviations</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>indexTitle</key>
		<string>J</string>
		<key>country</key>
		<array>
			<dict>
				<key>country-en</key>
				<string>Jamaica</string>
				<key>country-cn</key>
				<string>牙买加</string>
				<key>code</key>
				<string>+1876</string>
				<key>abbreviations</key>
				<string>JM</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Japan</string>
				<key>country-cn</key>
				<string>日本</string>
				<key>code</key>
				<string>+81</string>
				<key>abbreviations</key>
				<string>JP</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Jordan</string>
				<key>country-cn</key>
				<string>约旦</string>
				<key>code</key>
				<string>+962</string>
				<key>abbreviations</key>
				<string>JO</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>indexTitle</key>
		<string>K</string>
		<key>country</key>
		<array>
			<dict>
				<key>country-en</key>
				<string>Kampuchea (Cambodia )</string>
				<key>country-cn</key>
				<string>柬埔寨</string>
				<key>code</key>
				<string>+855</string>
				<key>abbreviations</key>
				<string>KH</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Kazakstan</string>
				<key>country-cn</key>
				<string>哈萨克斯坦</string>
				<key>code</key>
				<string>+327</string>
				<key>abbreviations</key>
				<string>KZ</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Kenya</string>
				<key>country-cn</key>
				<string>肯尼亚</string>
				<key>code</key>
				<string>+254</string>
				<key>abbreviations</key>
				<string>KE</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Korea</string>
				<key>country-cn</key>
				<string>韩国</string>
				<key>code</key>
				<string>+82</string>
				<key>abbreviations</key>
				<string>KR</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Kuwait</string>
				<key>country-cn</key>
				<string>科威特</string>
				<key>code</key>
				<string>+965</string>
				<key>abbreviations</key>
				<string>KW</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Kyrgyzstan</string>
				<key>country-cn</key>
				<string>吉尔吉斯坦</string>
				<key>code</key>
				<string>+331</string>
				<key>abbreviations</key>
				<string>KG</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>indexTitle</key>
		<string>L</string>
		<key>country</key>
		<array>
			<dict>
				<key>country-en</key>
				<string>Laos</string>
				<key>country-cn</key>
				<string>老挝</string>
				<key>code</key>
				<string>+856</string>
				<key>abbreviations</key>
				<string>LA</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Latvia</string>
				<key>country-cn</key>
				<string>拉脱维亚</string>
				<key>code</key>
				<string>+371</string>
				<key>abbreviations</key>
				<string>LV</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Lebanon</string>
				<key>country-cn</key>
				<string>黎巴嫩</string>
				<key>code</key>
				<string>+961</string>
				<key>abbreviations</key>
				<string>LB</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Lesotho</string>
				<key>country-cn</key>
				<string>莱索托</string>
				<key>code</key>
				<string>+266</string>
				<key>abbreviations</key>
				<string>LS</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Liberia</string>
				<key>country-cn</key>
				<string>利比里亚</string>
				<key>code</key>
				<string>+231</string>
				<key>abbreviations</key>
				<string>LR</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Libya</string>
				<key>country-cn</key>
				<string>利比亚</string>
				<key>code</key>
				<string>+218</string>
				<key>abbreviations</key>
				<string>LY</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Liechtenstein</string>
				<key>country-cn</key>
				<string>列支敦士登</string>
				<key>code</key>
				<string>+423</string>
				<key>abbreviations</key>
				<string>LI</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Lithuania</string>
				<key>country-cn</key>
				<string>立陶宛</string>
				<key>code</key>
				<string>+370</string>
				<key>abbreviations</key>
				<string>LT</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Luxembourg</string>
				<key>country-cn</key>
				<string>卢森堡</string>
				<key>code</key>
				<string>+352</string>
				<key>abbreviations</key>
				<string>LU</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>indexTitle</key>
		<string>M</string>
		<key>country</key>
		<array>
			<dict>
				<key>country-en</key>
				<string>Macao</string>
				<key>country-cn</key>
				<string>澳门</string>
				<key>code</key>
				<string>+853</string>
				<key>abbreviations</key>
				<string>MO</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Madagascar</string>
				<key>country-cn</key>
				<string>马达加斯加</string>
				<key>code</key>
				<string>+261</string>
				<key>abbreviations</key>
				<string>MG</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Malawi</string>
				<key>country-cn</key>
				<string>马拉维</string>
				<key>code</key>
				<string>+265</string>
				<key>abbreviations</key>
				<string>MW</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Malaysia</string>
				<key>country-cn</key>
				<string>马来西亚</string>
				<key>code</key>
				<string>+60</string>
				<key>abbreviations</key>
				<string>MY</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Maldives</string>
				<key>country-cn</key>
				<string>马尔代夫</string>
				<key>code</key>
				<string>+960</string>
				<key>abbreviations</key>
				<string>MV</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Mali</string>
				<key>country-cn</key>
				<string>马里</string>
				<key>code</key>
				<string>+223</string>
				<key>abbreviations</key>
				<string>ML</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Malta</string>
				<key>country-cn</key>
				<string>马耳他</string>
				<key>code</key>
				<string>+356</string>
				<key>abbreviations</key>
				<string>MT</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Mariana Is</string>
				<key>country-cn</key>
				<string>马里亚那群岛</string>
				<key>code</key>
				<string>+1670</string>
				<key>abbreviations</key>
				<string></string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Martinique</string>
				<key>country-cn</key>
				<string>马提尼克</string>
				<key>code</key>
				<string>+596</string>
				<key>abbreviations</key>
				<string></string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Mauritius</string>
				<key>country-cn</key>
				<string>毛里求斯</string>
				<key>code</key>
				<string>+230</string>
				<key>abbreviations</key>
				<string>MU</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Mexico</string>
				<key>country-cn</key>
				<string>墨西哥</string>
				<key>code</key>
				<string>+52</string>
				<key>abbreviations</key>
				<string>MX</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Moldova Republic of</string>
				<key>country-cn</key>
				<string>摩尔多瓦</string>
				<key>code</key>
				<string>+373</string>
				<key>abbreviations</key>
				<string>MD</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Monaco</string>
				<key>country-cn</key>
				<string>摩纳哥</string>
				<key>code</key>
				<string>+377</string>
				<key>abbreviations</key>
				<string>MC</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Mongolia</string>
				<key>country-cn</key>
				<string>蒙古</string>
				<key>code</key>
				<string>+976</string>
				<key>abbreviations</key>
				<string>MN</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Montserrat Is</string>
				<key>country-cn</key>
				<string>蒙特塞拉特岛</string>
				<key>code</key>
				<string>+1664</string>
				<key>abbreviations</key>
				<string>MS</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Morocco</string>
				<key>country-cn</key>
				<string>摩洛哥</string>
				<key>code</key>
				<string>+212</string>
				<key>abbreviations</key>
				<string>MA</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Mozambique</string>
				<key>country-cn</key>
				<string>莫桑比克</string>
				<key>code</key>
				<string>+258</string>
				<key>abbreviations</key>
				<string>MZ</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>indexTitle</key>
		<string>N</string>
		<key>country</key>
		<array>
			<dict>
				<key>country-en</key>
				<string>Namibia</string>
				<key>country-cn</key>
				<string>纳米比亚</string>
				<key>code</key>
				<string>+264</string>
				<key>abbreviations</key>
				<string>NA</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Nauru</string>
				<key>country-cn</key>
				<string>瑙鲁</string>
				<key>code</key>
				<string>+674</string>
				<key>abbreviations</key>
				<string>NR</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Nepal</string>
				<key>country-cn</key>
				<string>尼泊尔</string>
				<key>code</key>
				<string>+977</string>
				<key>abbreviations</key>
				<string>NP</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Netheriands Antilles</string>
				<key>country-cn</key>
				<string>荷属安的列斯</string>
				<key>code</key>
				<string>+599</string>
				<key>abbreviations</key>
				<string></string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Netherlands</string>
				<key>country-cn</key>
				<string>荷兰</string>
				<key>code</key>
				<string>+31</string>
				<key>abbreviations</key>
				<string>NL</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>New Zealand</string>
				<key>country-cn</key>
				<string>新西兰</string>
				<key>code</key>
				<string>+64</string>
				<key>abbreviations</key>
				<string>NZ</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Nicaragua</string>
				<key>country-cn</key>
				<string>尼加拉瓜</string>
				<key>code</key>
				<string>+505</string>
				<key>abbreviations</key>
				<string>NI</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Niger</string>
				<key>country-cn</key>
				<string>尼日尔</string>
				<key>code</key>
				<string>+227</string>
				<key>abbreviations</key>
				<string>NE</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Nigeria</string>
				<key>country-cn</key>
				<string>尼日利亚</string>
				<key>code</key>
				<string>+234</string>
				<key>abbreviations</key>
				<string>NG</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>North Korea</string>
				<key>country-cn</key>
				<string>朝鲜</string>
				<key>code</key>
				<string>+850</string>
				<key>abbreviations</key>
				<string>KP</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Norway</string>
				<key>country-cn</key>
				<string>挪威</string>
				<key>code</key>
				<string>+47</string>
				<key>abbreviations</key>
				<string>NO</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>indexTitle</key>
		<string>O</string>
		<key>country</key>
		<array>
			<dict>
				<key>country-en</key>
				<string>Oman</string>
				<key>country-cn</key>
				<string>阿曼</string>
				<key>code</key>
				<string>+968</string>
				<key>abbreviations</key>
				<string>OM</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>indexTitle</key>
		<string>P</string>
		<key>country</key>
		<array>
			<dict>
				<key>country-en</key>
				<string>Pakistan</string>
				<key>country-cn</key>
				<string>巴基斯坦</string>
				<key>code</key>
				<string>+92</string>
				<key>abbreviations</key>
				<string>PK</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Panama</string>
				<key>country-cn</key>
				<string>巴拿马</string>
				<key>code</key>
				<string>+507</string>
				<key>abbreviations</key>
				<string>PA</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Papua New Cuinea</string>
				<key>country-cn</key>
				<string>巴布亚新几内亚</string>
				<key>code</key>
				<string>+675</string>
				<key>abbreviations</key>
				<string>PG</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Paraguay</string>
				<key>country-cn</key>
				<string>巴拉圭</string>
				<key>code</key>
				<string>+595</string>
				<key>abbreviations</key>
				<string>PY</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Peru</string>
				<key>country-cn</key>
				<string>秘鲁</string>
				<key>code</key>
				<string>+51</string>
				<key>abbreviations</key>
				<string>PE</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Philippines</string>
				<key>country-cn</key>
				<string>菲律宾</string>
				<key>code</key>
				<string>+63</string>
				<key>abbreviations</key>
				<string>PH</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Poland</string>
				<key>country-cn</key>
				<string>波兰</string>
				<key>code</key>
				<string>+48</string>
				<key>abbreviations</key>
				<string>PL</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>French Polynesia</string>
				<key>country-cn</key>
				<string>法属玻利尼西亚</string>
				<key>code</key>
				<string>+689</string>
				<key>abbreviations</key>
				<string>PF</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Portugal</string>
				<key>country-cn</key>
				<string>葡萄牙</string>
				<key>code</key>
				<string>+351</string>
				<key>abbreviations</key>
				<string>PT</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Puerto Rico</string>
				<key>country-cn</key>
				<string>波多黎各</string>
				<key>code</key>
				<string>+1787</string>
				<key>abbreviations</key>
				<string>PR</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>indexTitle</key>
		<string>Q</string>
		<key>country</key>
		<array>
			<dict>
				<key>country-en</key>
				<string>Qatar</string>
				<key>country-cn</key>
				<string>卡塔尔</string>
				<key>code</key>
				<string>+974</string>
				<key>abbreviations</key>
				<string>QA</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>indexTitle</key>
		<string>R</string>
		<key>country</key>
		<array>
			<dict>
				<key>country-en</key>
				<string>Reunion</string>
				<key>country-cn</key>
				<string>留尼旺</string>
				<key>code</key>
				<string>+262</string>
				<key>abbreviations</key>
				<string></string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Romania</string>
				<key>country-cn</key>
				<string>罗马尼亚</string>
				<key>code</key>
				<string>+40</string>
				<key>abbreviations</key>
				<string>RO</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Russia</string>
				<key>country-cn</key>
				<string>俄罗斯</string>
				<key>code</key>
				<string>+7</string>
				<key>abbreviations</key>
				<string>RU</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>indexTitle</key>
		<string>S</string>
		<key>country</key>
		<array>
			<dict>
				<key>country-en</key>
				<string>Saint Lueia</string>
				<key>country-cn</key>
				<string>圣卢西亚</string>
				<key>code</key>
				<string>+1758</string>
				<key>abbreviations</key>
				<string>LC</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Saint Vincent</string>
				<key>country-cn</key>
				<string>圣文森特岛</string>
				<key>code</key>
				<string>+1784</string>
				<key>abbreviations</key>
				<string>VC</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Samoa Eastern</string>
				<key>country-cn</key>
				<string>东萨摩亚(美)</string>
				<key>code</key>
				<string>+684</string>
				<key>abbreviations</key>
				<string></string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Samoa Western</string>
				<key>country-cn</key>
				<string>西萨摩亚</string>
				<key>code</key>
				<string>+685</string>
				<key>abbreviations</key>
				<string></string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>San Marino</string>
				<key>country-cn</key>
				<string>圣马力诺</string>
				<key>code</key>
				<string>+378</string>
				<key>abbreviations</key>
				<string>SM</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Sao Tome and Principe</string>
				<key>country-cn</key>
				<string>圣多美和普林西比</string>
				<key>code</key>
				<string>+239</string>
				<key>abbreviations</key>
				<string>ST</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Saudi Arabia</string>
				<key>country-cn</key>
				<string>沙特阿拉伯</string>
				<key>code</key>
				<string>+966</string>
				<key>abbreviations</key>
				<string>SA</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Senegal</string>
				<key>country-cn</key>
				<string>塞内加尔</string>
				<key>code</key>
				<string>+221</string>
				<key>abbreviations</key>
				<string>SN</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Seychelles</string>
				<key>country-cn</key>
				<string>塞舌尔</string>
				<key>code</key>
				<string>+248</string>
				<key>abbreviations</key>
				<string>SC</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Sierra Leone</string>
				<key>country-cn</key>
				<string>塞拉利昂</string>
				<key>code</key>
				<string>+232</string>
				<key>abbreviations</key>
				<string>SL</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Singapore</string>
				<key>country-cn</key>
				<string>新加坡</string>
				<key>code</key>
				<string>+65</string>
				<key>abbreviations</key>
				<string>SG</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Slovakia</string>
				<key>country-cn</key>
				<string>斯洛伐克</string>
				<key>code</key>
				<string>+421</string>
				<key>abbreviations</key>
				<string>SK</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Slovenia</string>
				<key>country-cn</key>
				<string>斯洛文尼亚</string>
				<key>code</key>
				<string>+386</string>
				<key>abbreviations</key>
				<string>SI</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Solomon Is</string>
				<key>country-cn</key>
				<string>所罗门群岛</string>
				<key>code</key>
				<string>+244</string>
				<key>abbreviations</key>
				<string>SB</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Somali</string>
				<key>country-cn</key>
				<string>索马里</string>
				<key>code</key>
				<string>+252</string>
				<key>abbreviations</key>
				<string>SO</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>South Africa</string>
				<key>country-cn</key>
				<string>南非</string>
				<key>code</key>
				<string>+27</string>
				<key>abbreviations</key>
				<string>ZA</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Angola</string>
				<key>country-cn</key>
				<string>安哥拉</string>
				<key>code</key>
				<string>+244</string>
				<key>abbreviations</key>
				<string>AO</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Spain</string>
				<key>country-cn</key>
				<string>西班牙</string>
				<key>code</key>
				<string>+34</string>
				<key>abbreviations</key>
				<string>ES</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Sri Lanka</string>
				<key>country-cn</key>
				<string>斯里兰卡</string>
				<key>code</key>
				<string>+94</string>
				<key>abbreviations</key>
				<string>LK</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Sudan</string>
				<key>country-cn</key>
				<string>苏丹</string>
				<key>code</key>
				<string>+249</string>
				<key>abbreviations</key>
				<string>SD</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Suriname</string>
				<key>country-cn</key>
				<string>苏里南</string>
				<key>code</key>
				<string>+597</string>
				<key>abbreviations</key>
				<string>SR</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Swaziland</string>
				<key>country-cn</key>
				<string>斯威士兰</string>
				<key>code</key>
				<string>+268</string>
				<key>abbreviations</key>
				<string>SZ</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Sweden</string>
				<key>country-cn</key>
				<string>瑞典</string>
				<key>code</key>
				<string>+46</string>
				<key>abbreviations</key>
				<string>SE</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Switzerland</string>
				<key>country-cn</key>
				<string>瑞士</string>
				<key>code</key>
				<string>+41</string>
				<key>abbreviations</key>
				<string>CH</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Syria</string>
				<key>country-cn</key>
				<string>叙利亚</string>
				<key>code</key>
				<string>+963</string>
				<key>abbreviations</key>
				<string>SY</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>indexTitle</key>
		<string>T</string>
		<key>country</key>
		<array>
			<dict>
				<key>country-en</key>
				<string>Taiwan</string>
				<key>country-cn</key>
				<string>台湾省</string>
				<key>code</key>
				<string>+886</string>
				<key>abbreviations</key>
				<string>TW</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Tajikstan</string>
				<key>country-cn</key>
				<string>塔吉克斯坦</string>
				<key>code</key>
				<string>+992</string>
				<key>abbreviations</key>
				<string>TJ</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Tanzania</string>
				<key>country-cn</key>
				<string>坦桑尼亚</string>
				<key>code</key>
				<string>+255</string>
				<key>abbreviations</key>
				<string>TZ</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Thailand</string>
				<key>country-cn</key>
				<string>泰国</string>
				<key>code</key>
				<string>+66</string>
				<key>abbreviations</key>
				<string>TH</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Togo</string>
				<key>country-cn</key>
				<string>多哥</string>
				<key>code</key>
				<string>+228</string>
				<key>abbreviations</key>
				<string>TG</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Tonga</string>
				<key>country-cn</key>
				<string>汤加£</string>
				<key>code</key>
				<string>+676</string>
				<key>abbreviations</key>
				<string>TO</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Trinidad and Tobago</string>
				<key>country-cn</key>
				<string>特立尼达和多巴哥</string>
				<key>code</key>
				<string>+1809</string>
				<key>abbreviations</key>
				<string>TT</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Tunisia</string>
				<key>country-cn</key>
				<string>突尼斯</string>
				<key>code</key>
				<string>+216</string>
				<key>abbreviations</key>
				<string>TN</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Turkey</string>
				<key>country-cn</key>
				<string>土耳其</string>
				<key>code</key>
				<string>+90</string>
				<key>abbreviations</key>
				<string>TR</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Turkmenistan</string>
				<key>country-cn</key>
				<string>土库曼斯坦</string>
				<key>code</key>
				<string>+993</string>
				<key>abbreviations</key>
				<string>TM</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>indexTitle</key>
		<string>U</string>
		<key>country</key>
		<array>
			<dict>
				<key>country-en</key>
				<string>Uganda</string>
				<key>country-cn</key>
				<string>乌干达</string>
				<key>code</key>
				<string>+256</string>
				<key>abbreviations</key>
				<string>UG</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Ukraine</string>
				<key>country-cn</key>
				<string>乌克兰</string>
				<key>code</key>
				<string>+380</string>
				<key>abbreviations</key>
				<string>UA</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>United Arab Emirates    </string>
				<key>country-cn</key>
				<string>阿拉伯联合酋长国</string>
				<key>code</key>
				<string>+971</string>
				<key>abbreviations</key>
				<string>AE</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>United Kiongdom</string>
				<key>country-cn</key>
				<string>英国</string>
				<key>code</key>
				<string>+44</string>
				<key>abbreviations</key>
				<string>GB</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>United States of America</string>
				<key>country-cn</key>
				<string>美国</string>
				<key>code</key>
				<string>+1</string>
				<key>abbreviations</key>
				<string>US</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Uruguay</string>
				<key>country-cn</key>
				<string>乌拉圭</string>
				<key>code</key>
				<string>+598</string>
				<key>abbreviations</key>
				<string>UY</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Uzbekistan</string>
				<key>country-cn</key>
				<string>乌兹别克斯坦</string>
				<key>code</key>
				<string>+233</string>
				<key>abbreviations</key>
				<string>UZ</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>indexTitle</key>
		<string>V</string>
		<key>country</key>
		<array>
			<dict>
				<key>country-en</key>
				<string>Venezuela</string>
				<key>country-cn</key>
				<string>委内瑞拉</string>
				<key>code</key>
				<string>+58</string>
				<key>abbreviations</key>
				<string>VE</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Vietnam</string>
				<key>country-cn</key>
				<string>越南</string>
				<key>code</key>
				<string>+84</string>
				<key>abbreviations</key>
				<string>VN</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>indexTitle</key>
		<string>W</string>
		<key>country</key>
		<array>
			<dict>
				<key>country-en</key>
				<string>Wallis and Futuna Islands</string>
				<key>country-cn</key>
				<string>瓦利斯和富图纳群岛</string>
				<key>code</key>
				<string>+681</string>
				<key>abbreviations</key>
				<string></string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Western sahara</string>
				<key>country-cn</key>
				<string>西撒哈拉</string>
				<key>code</key>
				<string>+212</string>
				<key>abbreviations</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>indexTitle</key>
		<string>Y</string>
		<key>country</key>
		<array>
			<dict>
				<key>country-en</key>
				<string>Yemen</string>
				<key>country-cn</key>
				<string>也门</string>
				<key>code</key>
				<string>+967</string>
				<key>abbreviations</key>
				<string>YE</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Yugoslavia</string>
				<key>country-cn</key>
				<string>南斯拉夫</string>
				<key>code</key>
				<string>+381</string>
				<key>abbreviations</key>
				<string>YU</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>indexTitle</key>
		<string>Z</string>
		<key>country</key>
		<array>
			<dict>
				<key>country-en</key>
				<string>Zimbabwe</string>
				<key>country-cn</key>
				<string>津巴布韦</string>
				<key>code</key>
				<string>+263</string>
				<key>abbreviations</key>
				<string>ZW</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Zaire</string>
				<key>country-cn</key>
				<string>扎伊尔</string>
				<key>code</key>
				<string>+243</string>
				<key>abbreviations</key>
				<string>ZR</string>
			</dict>
			<dict>
				<key>country-en</key>
				<string>Zambia</string>
				<key>country-cn</key>
				<string>赞比亚</string>
				<key>code</key>
				<string>+260</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
